*.o
.vscode/makefile-tools/
swiftlatexxetex.wasm
swiftlatexxetex.js
swiftlatexxetex.d.ts
swiftlatexpdftex.wasm
swiftlatexpdftex.js
swiftlatexdvipdfm.js
swiftlatexdvipdfm.wasm
*.Identifier
.texlive_tmp
.DS_Store
